<main>
    <div class="sidenav">
        <a routerLink="/data/offers" (click)="myOffersHandler()" (click)="changeStyle($event)">My offers</a>
        <a routerLink="/data/offers/create" (click)="changeStyle($event)">Create your new offer</a>
    </div>
    <div class="main">
        <form #searchForm="ngForm" (ngSubmit)="searchOffers(searchForm)">
            <!-- TODO make the style better -->
            <div id="brand-vehicle-select">
                <label for="brand">Choose brand</label>
                <select name="brand" #brand="ngModel" ngModel (change)="onSelectedBrandHandler(brand.value)">
                    <option selected value="">All</option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Bugatti">Bugatti</option>
                    <option value="Citroen">Citroen</option>
                    <option value="Dodge">Dodge</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="Ford">Ford</option>
                    <option value="Honda">Honda</option>
                    <option value="Jeep">Jeep</option>
                    <option value="Lada">Lada</option>
                    <option value="Lamborghini">Lamborghini</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Mini">Mini</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Opel">Opel</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Porsche">Porsche</option>
                    <option value="Renault">Renault</option>
                    <option value="Seat">Seat</option>
                    <option value="Skoda">Skoda</option>
                    <option value="Suzuki">Suzuki</option>
                    <option value="Tesla">Tesla</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Trabant">Trabant</option>
                    <option value="Volkswagen">Volkswagen</option>
                </select>
            </div>
            <div id="all-models">
                <div *ngIf="brand.value == 'Audi'" id="Audi">
                    <label for="model">Choose model </label>
                    <select name="model" #audi="ngModel" ngModel (change)="onSelectedModelHandler(audi.value)">
                        <option selected value="">All</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="A5">A5</option>
                        <option value="A6">A6</option>
                        <option value="A7">A7</option>
                        <option value="A8">A8</option>
                        <option value="Cabriolet">Cabriolet</option>
                        <option value="Q2">Q2</option>
                        <option value="Q3">Q3</option>
                        <option value="Q4">Q4</option>
                        <option value="Q5">Q5</option>
                        <option value="Q7">Q7</option>
                        <option value="Q8">Q8</option>
                        <option value="Quattro">Quattro</option>
                        <option value="R8">R8</option>
                        <option value="S1">S1</option>
                        <option value="S2">S2</option>
                        <option value="S3">S3</option>
                        <option value="S4">S4</option>
                        <option value="S5">S5</option>
                        <option value="S6">S6</option>
                        <option value="S7">S7</option>
                        <option value="S8">S8</option>
                        <option value="Tt">Tt</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'BMW'" id="BMW">
                    <label for="model">Choose model </label>
                    <select name="model" #bmw="ngModel" ngModel (change)="onSelectedModelHandler(bmw.value)">
                        <option selected value="">All</option>
                        <option value="1 Series">1 Series</option>
                        <option value="2 Series">2 Series</option>
                        <option value="3 Series">3 Series</option>
                        <option value="4 Series">4 Series</option>
                        <option value="5 Series">5 Series</option>
                        <option value="6 Series">6 Series</option>
                        <option value="7 Series">7 Series</option>
                        <option value="i3">i3</option>
                        <option value="i8">i8</option>
                        <option value="M2">M2</option>
                        <option value="M3">M3</option>
                        <option value="M4">M4</option>
                        <option value="M5">M5</option>
                        <option value="M6">M6</option>
                        <option value="X1">X1</option>
                        <option value="X2">X2</option>
                        <option value="X3">X3</option>
                        <option value="X4">X4</option>
                        <option value="X5">X5</option>
                        <option value="X6">X6</option>
                        <option value="Z4">Z4</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Bugatti'" id="Bugatti">
                    <label for="model">Choose model </label>
                    <select name="model" #bugatti="ngModel" ngModel (change)="onSelectedModelHandler(bugatti.value)">
                        <option selected value="">All</option>
                        <option value="Divo">Divo</option>
                        <option value="Chiron">Chiron</option>
                        <option value="Veyron">Veyron</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Citroen'" id="Citroen">
                    <label for="model">Choose model </label>
                    <select name="model" #citroen="ngModel" ngModel (change)="onSelectedModelHandler(citroen.value)">
                        <option selected value="">All</option>
                        <option value="Berlingo">Berlingo</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                        <option value="C3">C3</option>
                        <option value="C4">C4</option>
                        <option value="C5">C5</option>
                        <option value="C-Crosser">C-Crosser</option>
                        <option value="C-Zero">C-Zero</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Dodge'" id="Dodge">
                    <label for="model">Choose model </label>
                    <select name="model" #dodge="ngModel" ngModel (change)="onSelectedModelHandler(dodge.value)">
                        <option selected value="">All</option>
                        <option value="Challenger">Challenger</option>
                        <option value="Charger">Charger</option>
                        <option value="Durango">Durango</option>
                        <option value="Hornet">Hornet</option>
                        <option value="Avenger">Avenger</option>
                        <option value="Caliber">Caliber</option>
                        <option value="Viper">Viper</option>
                        <option value="Dacota">Dacota</option>
                        <option value="Dart">Dart</option>
                        <option value="Journey">Journey</option>
                        <option value="Ram">Ram</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Ferrari'" id="Ferrari">
                    <label for="model">Choose model </label>
                    <select name="model" #ferrari="ngModel" ngModel (change)="onSelectedModelHandler(ferrari.value)">
                        <option selected value="">All</option>
                        <option value="F40">F40</option>
                        <option value="F355">F355</option>
                        <option value="488 GTB">488 GTB</option>
                        <option value="F50">F50</option>
                        <option value="F12 Berlinetta">F12 Berlinetta</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Ford'" id="Ford">
                    <label for="model">Choose model </label>
                    <select name="model" #ford="ngModel" ngModel (change)="onSelectedModelHandler(ford.value)">
                        <option selected value="">All</option>
                        <option value="Fiesta">Fiesta</option>
                        <option value="Focus">Focus</option>
                        <option value="GT">GT</option>
                        <option value="Mustang">Mustang</option>
                        <option value="Ranger">Ranger</option>
                        <option value="F Series">F Series</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Honda'" id="Honda">
                    <label for="model">Choose model </label>
                    <select name="model" #honda="ngModel" ngModel (change)="onSelectedModelHandler(honda.value)">
                        <option selected value="">All</option>
                        <option value="CRV">CRV</option>
                        <option value="Accord">Accord</option>
                        <option value="Odyssey">Odyssey</option>
                        <option value="Accord">Accord</option>
                        <option value="Civic">Civic</option>
                        <option value="HRV">HRV</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Jeep'" id="Jeep">
                    <label for="model">Choose model </label>
                    <select name="model" #jeep="ngModel" ngModel (change)="onSelectedModelHandler(jeep.value)">
                        <option selected value="">All</option>
                        <option value="Avenger">Avenger</option>
                        <option value="Cherokee">Cherokee</option>
                        <option value="Grand Cherokee">Grand Cherokee</option>
                        <option value="Compass">Compass</option>
                        <option value="Wrangler">Wrangler</option>
                        <option value="Renegade">Renegade</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Lada'" id="Lada">
                    <label for="model">Choose model </label>
                    <select name="model" #lada="ngModel" ngModel (change)="onSelectedModelHandler(lada.value)">
                        <option selected value="">All</option>
                        <option value="Niva">Niva</option>
                        <option value="Vesta">Vesta</option>
                        <option value="XRAY">XRAY</option>
                        <option value="Travel">Travel</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Lamborghini'" id="Lamborghini">
                    <label for="model">Choose model </label>
                    <select name="model" #lamborghini="ngModel" ngModel
                        (change)="onSelectedModelHandler(lamborghini.value)">
                        <option selected value="">All</option>
                        <option value="Huracan">Huracan</option>
                        <option value="Aventador">Aventador</option>
                        <option value="Gallardo">Gallardo</option>
                        <option value="Murcielago">Murcielago</option>
                        <option value="Urus">Urus</option>
                        <option value="Sesto Elemento">Sesto Elemento</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Mazda'" id="Mazda">
                    <label for="model">Choose model </label>
                    <select name="model" #mazda="ngModel" ngModel (change)="onSelectedModelHandler(mazda.value)">
                        <option selected value="">All</option>
                        <option value="RX7">RX7</option>
                        <option value="RX8">RX8</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="CX5">CX5</option>
                        <option value="CX9">CX9</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Mercedes-Benz'" id="Mercedes-Benz">
                    <label for="model">Choose model </label>
                    <select name="model" #mercedes="ngModel" ngModel (change)="onSelectedModelHandler(mercedes.value)">
                        <option selected value="">All</option>
                        <option value="A-Class">A-Class</option>
                        <option value="B-Class">B-Class</option>
                        <option value="C-Class">C-Class</option>
                        <option value="E-Class">E-Class</option>
                        <option value="G-Class">G-Class</option>
                        <option value="S-Class">S-Class</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Mini'" id="Mini">
                    <label for="model">Choose model </label>
                    <select name="model" #mini="ngModel" ngModel (change)="onSelectedModelHandler(mini.value)">
                        <option selected value="">All</option>
                        <option value="Cooper">Cooper</option>
                        <option value="One">One</option>
                        <option value="Paceman">Paceman</option>
                        <option value="Countryman">Countryman</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Mitsubishi'" id="Mitsubishi">
                    <label for="model">Choose model </label>
                    <select name="model" #mitsubishi="ngModel" ngModel
                        (change)="onSelectedModelHandler(mitsubishi.value)">
                        <option selected value="">All</option>
                        <option value="Lancer">Lancer</option>
                        <option value="Galant">Galant</option>
                        <option value="Colt">Colt</option>
                        <option value="Outlander">Outlander</option>
                        <option value="Warrior">Warrior</option>
                        <option value="FTO">FTO</option>
                        <option value="Shogun">Shogun</option>
                        <option value="Mirage">Mirage</option>
                        <option value="Xpander">Xpander</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Nissan'" id="Nissan">
                    <label for="model">Choose model </label>
                    <select name="model" #nissan="ngModel" ngModel (change)="onSelectedModelHandler(nissan.value)">
                        <option selected value="">All</option>
                        <option value="Qashqai">Qashqai</option>
                        <option value="Navara">Navara</option>
                        <option value="Skyline GT-R">Skyline GT-R</option>
                        <option value="GT-R">GT-R</option>
                        <option value="Silvia">Silvia</option>
                        <option value="Micra">Micra</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Opel'" id="Opel">
                    <label for="model">Choose model </label>
                    <select name="model" #opel="ngModel" ngModel (change)="onSelectedModelHandler(opel.value)">
                        <option selected value="">All</option>
                        <option value="Astra">Astra</option>
                        <option value="Corsa">Corsa</option>
                        <option value="Mokka">Mokka</option>
                        <option value="Insignia">Insignia</option>
                        <option value="Zafira">Zafira</option>
                        <option value="Tigra">Tigra</option>
                        <option value="Frontera">Frontera</option>
                        <option value="Vectra">Vectra</option>
                        <option value="Grandland">Grandland</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Peugeot'" id="Peugeot">
                    <label for="model">Choose model </label>
                    <select name="model" #peugeot="ngModel" ngModel (change)="onSelectedModelHandler(peugeot.value)">
                        <option selected value="">All</option>
                        <option value="208">208</option>
                        <option value="308">308</option>
                        <option value="2008">2008</option>
                        <option value="3008">3008</option>
                        <option value="Rifter">Rifter</option>
                        <option value="Bipper">Bipper</option>
                        <option value="Partner">Partner</option>
                        <option value="Range">Range</option>
                        <option value="Rifter">Rifter</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Porsche'" id="Porsche">
                    <label for="model">Choose model </label>
                    <select name="model" #porsche="ngModel" ngModel (change)="onSelectedModelHandler(porsche.value)">
                        <option selected value="">All</option>
                        <option value="911">911</option>
                        <option value="Panamera">Panamera</option>
                        <option value="Spyder">Spyder</option>
                        <option value="Carrera GT">Carrera GT</option>
                        <option value="Cayenne">Cayenne</option>
                        <option value="Boxter">Boxter</option>
                        <option value="Magnum">Magnum</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Renault'" id="Renault">
                    <label for="model">Choose model </label>
                    <select name="model" #renault="ngModel" ngModel (change)="onSelectedModelHandler(renault.value)">
                        <option selected value="">All</option>
                        <option value="Talisman">Talisman</option>
                        <option value="Initiale">Initiale</option>
                        <option value="Arkana">Arkana</option>
                        <option value="Alaskan">Alaskan</option>
                        <option value="Duster">Duster</option>
                        <option value="Captur">Captur</option>
                        <option value="Clio">Clio</option>
                        <option value="Megane">Megane</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Seat'" id="Seat">
                    <label for="model">Choose model </label>
                    <select name="model" #seat="ngModel" ngModel (change)="onSelectedModelHandler(seat.value)">
                        <option selected value="">All</option>
                        <option value="Leon">Leon</option>
                        <option value="Ibiza">Ibiza</option>
                        <option value="Arona">Arona</option>
                        <option value="Ateca">Ateca</option>
                        <option value="Tarraco">Tarraco</option>
                        <option value="Toledo">Toledo</option>
                        <option value="Altea">Altea</option>
                        <option value="Cordoba">Cordoba</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Skoda'" id="Skoda">
                    <label for="model">Choose model </label>
                    <select name="model" #skoda="ngModel" ngModel (change)="onSelectedModelHandler(skoda.value)">
                        <option selected value="">All</option>
                        <option value="Kodiaq">Kodiaq</option>
                        <option value="Enyaq">Enyaq</option>
                        <option value="Rapid">Rapid</option>
                        <option value="Yeti">Yeti</option>
                        <option value="Octavia">Octavia</option>
                        <option value="Superb">Superb</option>
                        <option value="Fabia">Fabia</option>
                        <option value="Kamiq">Kamiq</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Suzuki'" id="Suzuki">
                    <label for="model">Choose model </label>
                    <select name="model" #suzuki="ngModel" ngModel (change)="onSelectedModelHandler(suzuki.value)">
                        <option selected value="">All</option>
                        <option value="Vitara">Vitara</option>
                        <option value="Swift">Swift</option>
                        <option value="Ignis">Ignis</option>
                        <option value="Jimny">Jimny</option>
                        <option value="Samurai">Samurai</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Tesla'" id="Tesla">
                    <label for="model">Choose model </label>
                    <select name="model" #tesla="ngModel" ngModel (change)="onSelectedModelHandler(tesla.value)">
                        <option selected value="">All</option>
                        <option value="Model 3">Model 3</option>
                        <option value="Model S">Model S</option>
                        <option value="Model X">Model X</option>
                        <option value="Roadster">Roadster</option>
                        <option value="Model Y">Model Y</option>
                        <option value="Cybertruck">Cybertruck</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Toyota'" id="Toyota">
                    <label for="model">Choose model </label>
                    <select name="model" #toyota="ngModel" ngModel (change)="onSelectedModelHandler(toyota.value)">
                        <option selected value="">All</option>
                        <option value="Yaris">Yaris</option>
                        <option value="Rav4">Rav4</option>
                        <option value="Supra">Supra</option>
                        <option value="Corolla">Corolla</option>
                        <option value="C-HR">C-HR</option>
                        <option value="Avensis">Avensis</option>
                        <option value="Auris">Auris</option>
                        <option value="Tundra">Tundra</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Trabant'" id="Trabant">
                    <label for="model">Choose model </label>
                    <select name="model" #trabant="ngModel" ngModel (change)="onSelectedModelHandler(trabant.value)">
                        <option selected value="">All</option>
                        <option value="600">600</option>
                        <option value="601">601</option>
                        <option value="T 1.1">T 1.1</option>
                    </select>
                </div>
                <div *ngIf="brand.value == 'Volkswagen'" id="VW">
                    <label for="model">Choose model </label>
                    <select name="model" #Volkswagen="ngModel" ngModel
                        (change)="onSelectedModelHandler(Volkswagen.value)">
                        <option selected value="">All</option>
                        <option value="Passat">Passat</option>
                        <option value="Golf">Golf</option>
                        <option value="Taos">Taos</option>
                        <option value="Jetta">Jetta</option>
                        <option value="Polo">Polo</option>
                        <option value="Tiguan">Tiguan</option>
                        <option value="Sharan">Sharan</option>
                        <option value="Sirocco">Sirocco</option>
                        <option value="Phaeton">Phaeton</option>
                        <option value="Touareg">Touareg</option>
                        <option value="Touran">Touran</option>
                    </select>
                </div>
            </div>
            <label for="fromPrice">From price: </label>
            <input type="number" name="fromPrice" #fromprice="ngModel" ngModel>
            <label for="toPrice">To price: </label>
            <input type="number" name="toPrice" #toprice="ngModel" ngModel>
            <label for="fromYear">From year: </label>
            <input type="number" name="fromYear" #fromyear="ngModel" ngModel>
            <label for="toYear">To year: </label>
            <input type="number" name="toYear" #toyear="ngModel" ngModel>
            <label for="keyword">Keyword: </label>
            <input type="text" name="keyword" #keyword="ngModel" ngModel>
            <button class="submit" type="submit">Search</button>
        </form>
        <h1 *ngIf="brand.value !== '' && !myOffers">Browse offers for {{brand.value}} brand</h1>
        <h1 *ngIf="brand.value === '' && !myOffers">Browse offers for all brands</h1>
        <h2 *ngIf="myOffers"><a routerLink="/data/offers" (click)="allOffersHandler()">Go back</a></h2>
        <h1 *ngIf="myOffers">Check your offers</h1>
        <app-loader *ngIf="offersList == null"></app-loader>


        <div *ngIf="offersList != null" class="all-offers">
            <div *ngFor="let offer of offersList" class="offer-card">
                <p style="display:none">{{offer._id}}</p>
                <h2>{{offer.brand}}</h2>
                <h3>{{offer.model}}</h3>
                <p>{{offer.price}} lv.</p>
                <p>{{offer.year}}</p>
                <img [attr.src]="offer.imageUrl" alt="Car image" width="20%" height="20%">
                <p>
                    <button class="details" (click)="detailsHandler($event)">Details</button>
                </p>
            </div>
        </div>
        <h2 *ngIf="(offersList == null || offersList.length <= 0) && !myOffers">There aren't any offers yet!</h2>
        <div *ngIf="(offersList == null || offersList.length <= 0) && myOffers">
            <h2>You haven't posted any offers yet!</h2>
        </div>
    </div>

</main>