<nav>
    <a routerLink="/o074dm1n/h1dd3n4ddr35s/570p/panel" title="All users" (click)="allUsersHandler()">All users list</a>
    <a routerLink="/o074dm1n/h1dd3n4ddr35s/570p/panel" title="Blocked users" (click)="blockedUsersHandler()">Blocked users list</a>
    <a routerLink="/o074dm1n/h1dd3n4ddr35s/570p/logout" title="Logout">Logout</a>
</nav>


<main>
    <h1>WELCOME, ADMIN!</h1>
    <app-loader *ngIf="usersList == null"></app-loader>
    
    <div *ngIf="usersList != null" class="all-users">
        <div *ngFor="let user of usersList" class="user-card">
            <h2>{{user._id}}</h2>
            <h2>{{user.username}}</h2>
            <p>
                <button class="details" (click)="detailsHandler($event)">Details</button>
            </p>
        </div>
    </div>
    <h2 *ngIf="(usersList== null || usersList.length <= 0)">No users to show!</h2>

</main>