<main>

    <div class="about-block">

        <h1 class="beautified-header">Who are we?</h1>
        <p>We are a company that helps people to Repair, Buy and Sell vehicles all around the country!</p>
        <p>Our company started in a small garage, with two friends and their big ambitions trying to help their town
            by
            repairing their vehicles.</p>
        <p>Then it startet to grow as they helped more and more people, they gained popularity for their talents and
            well-done works.</p>
        <p>No longer after that, the team started to grow more and more, the equipment got better, the service
            became
            bigger and people started coming from different villages, towns and cities.</p>
        <p>That's when the team started expanding the workspaces, building more garages and services, until today.
        </p>
        <p>Now we are licenced company that is repairing and selling vehicles, and helping people buy one suitable
            for
            them as well.</p>
        <p>Our services are available in every province of the country!</p>
        <p>We provide the best workers to deal with the problems of your vehicles!</p>
        <hr>
        <h3 class="beautified-header">Here is a map with all our services in different cities!</h3>
        <div class="map-image">
            <img src="assets/static-images/map.png" alt="Map with our services around the country">
        </div>

        <p class="questions">You have questions? Check our <a routerLink="/FAQ"><span class="contact">Frequently Asked Questions</span></a> page or <a href="mailto:fake_email@alabala.com" title="Fake email"><span
            class="contact">Email us your
                    question</span></a>!</p>
        <hr>
        <h3 class="beautified-header">Our teams</h3>

        <div class="row">
            <div class="team-image1">
                <img src="assets/static-images/team-working.jpg" alt="Team picture">
            </div>

            <div class="team-image2">
                <img src="assets/static-images/team-working-2.jpg" alt="Team picture 2">
            </div>
        </div>

        <div class="team-image3">
            <img src="assets/static-images/team-working-3.jpg" alt="Team picture 3">
        </div>

        <p class="beautified-header">One of our teams even got the opportunity to participate in an official race event!</p>

        <div class="team-image4">
            <img src="assets/static-images/team-working-4.jpg" alt="Team picture 4">
        </div>

    </div>

</main>