<main>

    <div class="about-block">

        <h1>Who are we?</h1>
        <p>We are a company that helps people to Repair, Buy and Sell vehicles all around the country!</p>
        <p>Our company started in a small garage, with two friends and their big ambitions trying to help their town
            by
            repairing their vehicles.</p>
        <p>Then it startet to grow as they helped more and more people, they gained popularity for their talents and
            well-done works.</p>
        <p>No longer after that, the team started to grow more and more, the equipment got better, the service
            became
            bigger and people started coming from different villages, towns and cities.</p>
        <p>That's when the team started expanding the workspaces, building more garages and services, until today.
        </p>
        <p>Now we are licenced company that is repairing and selling vehicles, and helping people buy one suitable
            for
            them as well.</p>
        <p>Our services are available in every province of the country!</p>
        <p>We provide the best workers to deal with the problems of your vehicles!</p>
        <h3>Here is a map with all our services in different cities!</h3>

        <div class="map-image">
            <img [attr.src]="'https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gMNqvbXoSN1mOyXMXAAtrbuQIaKQSn9syEWCq_oMeBdcNObPNcpXLSY1E6DOXoX7EfqeEcbRT5yJvW3QEWgmnY0m2SbKw=w1366-h615'"
                alt="Map with our services around the country">
        </div>

        <p>You have questions? Check our <a routerLink="/FAQ">Frequently Asked Questions</a> page or <span class="contact"><a href="mailto:fake_email@alabala.com"
            title="fake_email@alabala.com">Email us your question</a></span>!</p>
        <h3>Our teams</h3>

        <div class="team-image">
            <img [attr.src]="'https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gN-cgIjgwgV77Af_E_sIMlxd0zVUUxlJ2iqjSblZNzN8jwr4XsNRwIZIxhO2uB57HgRdUV6j4RVDQZPxE1MQT4cq1l4=w1366-h615'"
                alt="Team picture">
        </div>

        <div class="team-image">
            <img [attr.src]="'https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gOwfuogTQM6gjUG2tPhv74lzfNxEdjQnnROP10F8qGe-tALw2zlbmho3YX5sXFFEPLfcFoj2LEbrFXnE4gTS7WUDuz_TQ=w1366-h615'"
                alt="Team picture 2">
        </div>

        <div class="team-image">
            <img [attr.src]="'https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gMPBzABdCd_3aHKpQxMMmg45pFfmuTsqoxhaSmuT8mlBbVCq6iJhj0G_I1xGoqf8xWlPYPAkHnHX34I2iURcccMlHzDYA=w1366-h615'"
                alt="Team picture 3">
        </div>

        <p>One of our teams even got the opportunity to participate in an official race event!</p>

        <div class="team-image">
            <img [attr.src]="'https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gNCWik8DbiIxR0zg8RQJbddQXC7P1iNXdupGi5XxFeMg5y1bfuUCxbJ9-XBv9p-r5W3Uw-PBxKM2Vp--ij1p3nKL4pibQ=w1366-h615'"
                alt="Team picture 4">
        </div>

    </div>

</main>