<main>

    <a routerLink="/">
        <h2 id="back">GO BACK TO MAIN PAGE</h2>
    </a>
    <div class="login-box">
        <h1>LOG IN AS AN ADMIN</h1>
        <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
            <label>Email: </label>
            <input #emailInput="ngModel" type="text" name="email" ngModel required appEmail>
            <ng-container *ngIf="emailInput.touched">
                <p class="error" *ngIf="emailInput.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
                    Email is invalid!
                </p>
            </ng-container>
            <label>Password: </label>
            <input #passwordInput="ngModel" [type]="passtext" name="password" ngModel required>
            <span (mouseenter)="showPass()" (mouseleave)="hidePass()" class="eye">👁</span>
            <ng-container *ngIf="passwordInput.touched">
                <p class="error" *ngIf="passwordInput.errors?.['required']">
                    Password is required!
                </p>
            </ng-container>

            <label>PIN: </label>
            <input #pinInput="ngModel" [type]="pintext" name="pin" ngModel required>
            <span (mouseenter)="showPIN()" (mouseleave)="hidePIN()" class="eye">👁</span>
            <ng-container *ngIf="pinInput.touched">
                <p class="error" *ngIf="pinInput.errors?.['required']">
                    PIN is required!
                </p>
            </ng-container>
            <input type="submit" value="Log in">
        </form>
    </div>

</main>