<nav>
    <a routerLink="/" title="Home Page">Home</a>
    <a routerLink="/data/offers" title="Offers Catalog">Vehicle offers</a>
    <a routerLink="/about" title="About Page">About Us</a>
    <a routerLink="/FAQ" title="Frequently Asked Questions">FAQ</a>
    <div *ngIf="!isLoggedIn">
        <a routerLink="/users/login" title="Login">Login</a>
        <a routerLink="/users/register" title="Register">Register</a>
    </div>
    <div *ngIf="isLoggedIn">
        <a routerLink="/repair" title="Repair vehicle">Vehicle service and repair</a>
        <a routerLink="/users/:userId/profile" title="Profile">{{user?.username}} - My Profile</a>
        <a routerLink="/users/logout" title="Logout">Logout</a>
    </div>
</nav>