<main>

    <div class="login-box">
        <h1>Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
            <label>Username: </label>
            <input #usernameInput="ngModel" type="text" name="username" ngModel required>
            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">
                    Username is required!
                </p>
            </ng-container>
            <label>Password: </label>
            <input #passwordInput="ngModel" [type]="passtext" name="password" ngModel required>
            <span (mouseenter)="showPass()" (mouseleave)="hidePass()" class="eye">👁</span>
            <ng-container *ngIf="passwordInput.touched">
                <p class="error" *ngIf="passwordInput.errors?.['required']">
                    Password is required!
                </p>
            </ng-container>
            <input type="submit" [disabled]="loginForm.invalid" value="Log in">
        </form>
        <h4>You don't have an account? <a routerLink="/users/register"><span class="link">Register here.</span></a></h4>
    </div>

</main>