<main>

    <div class="register-box">
        <h1>Register</h1>
        <form #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">
            <label>Username: </label>
            <input #usernameInput="ngModel" type="text" name="username" ngModel required minlength="3" maxlength="12">
            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">
                    Username is required!
                </p>
                <p class="error" *ngIf="usernameInput.errors?.['minlength']">
                    Username is too short!
                </p>
                <p class="error" *ngIf="usernameInput.errors?.['maxlength']">
                    Username is too long!
                </p>
            </ng-container>
            <label>Email: </label>
            <input #emailInput="ngModel" type="text" name="email" ngModel required appEmail>
            <ng-container *ngIf="emailInput.touched">
                <p class="error" *ngIf="emailInput.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
                    Email is invalid!
                </p>
            </ng-container>
            <label>Password: </label>
            <input #passwordInput="ngModel" [type]="passtext" name="password" ngModel required>
            <ng-container *ngIf="passwordInput.touched">
                <p class="error" *ngIf="passwordInput.errors?.['required']">
                    Password is required!
                </p>
            </ng-container>
            <!-- TODO add event to show password -->
            <span (mouseenter)="showPass()" (mouseleave)="hidePass()">👁️</span>
            <label>Confirm Password: </label>
            <input #repassInput="ngModel" [type]="repasstext" name="repass" ngModel required>
            <ng-container *ngIf="repassInput.touched">
                <p class="error" *ngIf="repassInput.errors?.['required']">
                    Repeating password is required!
                </p>
                <p class="error" *ngIf="repassInput.value !== passwordInput.value">
                    Passwords don't match!
                </p>
            </ng-container>
            <!-- TODO add event to show password -->
            <span (mouseenter)="showRepass()" (mouseleave)="hideRepass()">👁️</span>
            <button class="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
        <p>You already have an account? <a routerLink="/users/login">Login here.</a></p>
    </div>

</main>