<main *ngIf="userDetails">
    
    <a id="back" routerLink="/o074dm1n/h1dd3n4ddr35s/570p/panel" title="Panel">Go back</a>

    <form #updateUser="ngForm" (ngSubmit)="saveEditedHandler(updateUser)">
        <div class="profile-box">
            <h1>Profile info</h1>

            <h2>Username: </h2>
            <ng-container *ngIf="editMode">
                <input type="text" #username="ngModel" [(ngModel)]="userDetails!.username" name="username" required
                    minlength="3" maxlength="12">
                <ng-container *ngIf="username.touched || formSubmitted">
                    <p class="error" *ngIf="username.errors?.['required']">
                        Username is required!
                    </p>
                    <p class="error" *ngIf="username.errors?.['minlength']">
                        Username is too short!
                    </p>
                    <p class="error" *ngIf="username.errors?.['maxlength']">
                        Username is too long!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{userDetails!.username}}</strong></h4>
            </ng-container>
            <hr>
            <h2>Email: </h2>
            <ng-container *ngIf="editMode">
                <input type="text" #email="ngModel" [(ngModel)]="userDetails!.email" name="email" required appEmail>
                <ng-container *ngIf="email.touched || formSubmitted">
                    <p class="error" *ngIf="email.errors?.['required']">
                        Email is required!
                    </p>
                    <p class="error" *ngIf="email.errors?.['appEmailValidator']">
                        Email is invalid!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{userDetails!.email}}</strong></h4>
            </ng-container>
            <hr>
            <h2>Blocked: </h2>
            <ng-container *ngIf="editMode">
                <h5>Check or uncheck the box: 
                    <input type="checkbox" #blocked [(ngModel)]="userDetails.blocked" name="blocked"
                        (click)="changeBlockedVal()">
                </h5>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{userDetails!.blocked}}</strong></h4>
            </ng-container>
            <p>
                <ng-template #edit>
                    <input class="button" [disabled]="updateUser.invalid" [type]="'submit'" value="Save">
                    <button class="cancel" (click)="cancelEditing()">Cancel</button>
                </ng-template>
                <ng-template #submit>
                    <input class="button" [type]="'button'" (click)="toggleEditMode()" value="Edit data" type="button">
                </ng-template>
            </p>
            <ng-container *ngTemplateOutlet="editMode ? edit : submit"></ng-container>
            <input class="delete" type="button" *ngIf="!editMode" (click)="deleteProfileHandler()"
                value="Delete account">

        </div>
    </form>

</main>
