<main>
    <!-- TODO add event listeners for showing and hiding answers -->
    <section class="faq-block">
        <h2>Frequently asked questions by our customers: </h2>
        <div class="question">
            <h3>Is the site legit?</h3>
        </div>
        <div class="answer">
            <p>This is the official site of RBS Vehicle Express, if you find any other website portraying us,
                please contact us on number <span class="contact"><a href="tel:+1-111-222-3"
                        title="Fake number">+1-111-222-3</a></span> immediately! Thank you!</p>
        </div>
        <div class="question">
            <h3>Are the shopping and selling secured against scam?</h3>
        </div>
        <div class="answer">
            <p>Everyone that has registered can offer an offer on our site, however if you find something suspicious
                of scam don't wait and immediately inform us via email.</p>
        </div>
        <div class="question">
            <h3>Are the repairing services good enough?</h3>
        </div>
        <div class="answer">
            <p>Our teams of mechanics which are in every province are proved masters and have degrees of repairing
                and taking care of vehicles! Check in <strong><a href="about.html">our about page</a></strong> to
                learn more about
                the teams!</p>
        </div>
        <div class="question">
            <h3>Is my data safe?</h3>
        </div>
        <div class="answer">
            <p>We are collecting the data from the customer's registration just for the sake of having better
                contact with them, you can still browse the offers to buy a vehicle without being logged in or
                registered. An account is required for:</p>
            <p><strong>1.</strong> Offering your vehicle for selling.</p>
            <p><strong>2.</strong> If you need our mechanics' services.</p>
            <p>And that's it! Everything else you can do without an account!</p>
        </div>
        <div class="question">
            <h3>How long is the waiting until you view my request for repair services?</h3>
        </div>
        <div class="answer">
            <p>Our workers, from the mechanics to the administration team, all work <strong>Monday-Saturday</strong>
                from <strong>08:00</strong> to <strong>17:00</strong>. <strong>Sunday</strong> is a non-work day. So
                expect your request approved in the given period of time if it meets the requirements.</p>
        </div>
        <div class="question">
            <h3>My account is blocked, what should I do?</h3>
        </div>
        <div class="answer">
            <p>Usually, the account gets blocked if you enter wrong login data <strong>several times.</strong> This is
                done for security measures to prevent hacking. If you account is blocked or you have suspicion that
                you might have been hacked,
                <span class="contact">
                    <a href="mailto:fake_email@alabala.com" title="fake_email@alabala.com">
                        contact us here.
                    </a>
                </span>
            </p>
        </div>
        <div class="question">
            <h3>Do you deliver cars to demanded places?</h3>
        </div>
        <div class="answer">
            <p>We have drivers and platforms that can transport your vehicle wherever you want in the country, this
                service is available in all provinces.</p>
        </div>
        <div class="question">
            <h3>How long will it take if I chose delivery option from you?</h3>
        </div>
        <div class="answer">
            <p>It depends on where you want your delivery, and how far it is the place of the person you are buying
                from, also what time of the day you order the delivery. If the distance is more than <strong>300
                    km</strong> and you
                order for example at <strong>15:00 o'clock,</strong> we will send our drivers on the day tomorrow.</p>
        </div>
        <div class="question">
            <h3>Why is my request for repairing not approved?</h3>
        </div>
        <div class="answer">
            <p>If our administration team sees that the request does not provide enough info, or that it is
                suspicious of scam, they do not approve it.
                We recommend that you check your email for more information about why your request wasn't approved.
            </p>
        </div>

    </section>

</main>