<app-loader *ngIf="!offerDetails"></app-loader>
<main>

    <div class="details">
        <h2>{{offerDetails?.vehicleBrand}}</h2>
        <h3>{{offerDetails?.vehicleModel}}</h3>
        <p>{{offerDetails?.price}}</p>
        <p>{{offerDetails?.year}}</p>
        <p>{{offerDetails?.description}}</p>
        <img src="{{offerDetails?.imageUrl}}" alt="{{offerDetails?.vehicleBrand}} {{offerDetails?.vehicleModel}}"/>
        <p>{{offerDetails?.phoneNumber}}</p>
        <div *ngIf="offerDetails?._ownerId == user?._id" class="buttons-offer">
            <button (click)="editHandler()">Edit</button>
            <button (click)="deleteHandler()">Delete</button>
        </div>
    </div>
    <h2 *ngIf="offerDetails == undefined">Offer does not exist!</h2>
</main>