<main>
    <app-loader *ngIf="offerDetails == null "></app-loader>
    <a routerLink="/data/offers">
        <h3 id="back">Go back</h3>
    </a>


    <form #editOffer="ngForm" (ngSubmit)="saveEditedHandler(editOffer)">
        <div class="details">
            <h2>Brand: </h2>
            <h4><strong>{{offerDetails?.brand}}</strong></h4>
            <hr>
            <h2>Model: </h2>
            <h4><strong>{{offerDetails?.model}}</strong></h4>
            <hr>
            <h2>Price (in lv.): </h2>
            <ng-container *ngIf="editMode">
                <input type="number" #price="ngModel" [(ngModel)]="offerDetails!.price" name="price" required
                    min="0">
                <ng-container *ngIf="price.touched || formSubmitted">
                    <p class="error" *ngIf="price.errors?.['required']">
                        Price is required!
                    </p>
                    <p class="error" *ngIf="price.errors?.['min']">
                        Price cannot be negative!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{offerDetails?.price}}</strong></h4>
            </ng-container>
            <hr>
            <h2>Year: </h2>
            <ng-container *ngIf="editMode">
                <input type="number" #year="ngModel" [(ngModel)]="offerDetails!.year" name="year" required min="1970"
                    max="2025">
                <ng-container *ngIf="year.touched || formSubmitted">
                    <p class="error" *ngIf="year.errors?.['required']">
                        Year is required!
                    </p>
                    <p class="error" *ngIf="year.errors?.['min']">
                        Year cannot be lesser than 1970!
                    </p>
                    <p class="error" *ngIf="year.errors?.['max']">
                        Year cannot be more than 2025!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{offerDetails?.year}}</strong></h4>
            </ng-container>
            <hr>
            <h2>Description: </h2>
            <ng-container *ngIf="editMode">
                <input type="text" #description="ngModel" [(ngModel)]="offerDetails!.description"
                    name="description" required minlength="50" maxlength="255">
                <ng-container *ngIf="description.touched || formSubmitted">
                    <p class="error" *ngIf="description.errors?.['required']">
                        Description is required!
                    </p>
                    <p class="error" *ngIf="description.errors?.['minlength']">
                        Description is too short!
                    </p>
                    <p class="error" *ngIf="description.errors?.['maxlength']">
                        Description is too long!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{offerDetails?.description}}</strong></h4>
            </ng-container>
            <hr>
            <h2>Image: </h2>
            <ng-container *ngIf="editMode">
                <input type="text" #imageurl="ngModel" [(ngModel)]="offerDetails!.imageUrl" name="imageUrl"
                    maxlength="150">
                <ng-container *ngIf="imageurl.touched || formSubmitted">
                    <p class="error" *ngIf="imageurl.errors?.['maxlength']">
                        URL cannot be more than 50 symbols!
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!editMode">
                <h4><strong><img src="{{offerDetails?.imageUrl}}"
                            alt="{{offerDetails?.brand}} {{offerDetails?.model}}" /></strong></h4>
            </ng-container>
            <hr>
            <h2>Phone number: </h2>
            <ng-container *ngIf="editMode">
                <input type="text" #phonenumber="ngModel" [(ngModel)]="offerDetails!.phoneNumber" name="phoneNumber"
                    required>
                <ng-container *ngIf="phonenumber.touched || formSubmitted">
                    <p class="error" *ngIf="phonenumber.errors?.['required']">
                        Phone number is required!
                    </p>
                </ng-container>
            </ng-container>
            <hr>
            <ng-container *ngIf="!editMode">
                <h4><strong>{{offerDetails?.phoneNumber}}</strong></h4>
            </ng-container>

            <p>
                <ng-template #edit>
                    <input class="button" [disabled]="editOffer.invalid" [type]="'submit'" value="Save">
                    <input class="cancel" (click)="cancelEditing()" value="Cancel" type="button">
                </ng-template>
                <ng-template #submit>
                    <input [type]="'button'" (click)="toggleEditMode()" *ngIf="offerDetails?._ownerId == user?._id"
                        class="button" value="Edit data">
                </ng-template>
            </p>
            <ng-container *ngIf="offerDetails?._ownerId == user?._id">
                <ng-container *ngTemplateOutlet="editMode ? edit : submit"></ng-container>
                <input type="button" class="delete" *ngIf="!editMode" (click)="deleteOfferHandler()"
                    value="Delete offer">
            </ng-container>
        </div>
        <h2 *ngIf="offerDetails == undefined">Offer does not exist!</h2>
    </form>
</main>